/*
blue: #002856
green: #00833f
red: #cf102d
*/


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkblue;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #002856;
  color: white;
  font-size: 1.3em;
  list-style-type: none;
}

.detail{
  display: block;
  background-color: white;
  font-size: 0.8em;
  Padding: 20px;
  border: solid 1px #002856;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.historic-charts {
  display: grid;
  justify-content: center;
  width: 100%;
}
img{
  text-align: center;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

table, th, td {
  font-size: 0.9em;
  border: 1px solid lightgrey;
  border-collapse: collapse;
  height: 40px;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  color: #002856;
}
table{
  border-style:solid;
}
.selector{
  margin: 20px;
}

.uparrow{
  display:block;
  float:right;
  color:#00833f;
  font-size: 10em;
}

.downarrow{
  display:block;
  float:right;
  color:#cf102d;
  font-size: 10em;
}

h1  {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: #002856;
}

h3  {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  color: #002856;
}

h4  {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 0.8em;
  color: #002856;
}

li {
  display: inline;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

.currency-selector {
  font-size: 0.8em;
  padding-left: 15px;
  margin: 0;
  width: 600px;
  height: 50px;
}
