.App {
  text-align: center;
}

.main {
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkblue;
}

.App-link {
  color: #09d3ac;
}

.details{
  background-color: white;
  font-size:1em;
  Padding:20px;
  border-style: solid;
}

 img{
  text-align: center;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
table{
  border-style:solid;
}
.selector{
  margin:20px;
}

.uparrow{
  display:block;
  float:right;
color:green;
  font-size: 10em;
}


.downarrow{
  display:block;
  float:right;
color:red;
  font-size: 10em;
}
